@using BlogCV.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<tblSkılls>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-dark">
    <thead>
        <tr>
            <th>ID</th>
            <th>Yetenekler</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
        <tr>
            <td>@x.ID</td>
            <td>@x.Skıll</td>
            <td><a href="/Yetenekler/Sil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Yetenekler/YetenekGetir/@x.ID" class="btn btn-info">Güncelle</a></td>
        </tr>
        }
    </tbody>
</table>

@Html.PagedListPager((IPagedList)Model,sayfa=>Url.Action("Index",new { sayfa}))

<a href="/Yetenekler/YeniYetenek/" class="btn btn-success">Yetenek Ekle</a>