@model BlogCV.Models.Entity.tblSkılls
@{
    ViewBag.Title = "YetenekGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Yetenekler", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ID)
        @Html.TextBoxFor(m => m.ID, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Skıll)
        @Html.TextBoxFor(m => m.Skıll, new { @class = "form-control" })
        <br />
        
        <button class="btn btn-warning">Güncelle</button>
    </div>
}

+986